{% extends 'base.html' %}
{% block content %}

{% if object %}
    <h1>
        Edit <span class="white-text">{{ object.name }}!</span>
    </h1>
{% else %}
    <h1>
        Create Content!
    </h1>
{% endif %}

<form action="" method="post" class="card-panel card">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    {% if object %}
    <input type="submit" value="Submit!" class="waves-effect waves-light btn-flat card">
    {% else %}
    <input type="submit" value="Submit!" class="waves-effect waves-light btn-flat card">
    {% endif %}
    <a href="{% url 'content' %}" value="Submit!" class="waves-effect waves-light btn-flat card">Back to Content</a>
</form>

{% endblock %}