{% extends 'base.html' %}{% block content %}
<form action="" method="post">
    {% if object %}
        <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
    {% else %}
    <h1>Add a Platform</h1>
    {% endif %}
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="waves-effect waves-light btn-flat card" />
    <a href="{% url 'platform_list' %}" value="Submit!" class="waves-effect waves-light btn-flat card">Back to Platforms</a>
</form>
{% endblock %}