{% extends 'base.html' %}
{% block content %}
<h1>Content Details</h1>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    {{cont.name}}
                </span>
                <p>
                    Description: {{cont.description}}
                </p>
                <br />
                <p>
                    Seasons: {{cont.seasons}}
                </p>
            </div>
            <div class="card-action">
                <a href="{% url 'content_update' cont.id %}">Edit</a>
                <a href="{% url 'content_delete' cont.id %}">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}