{% extends 'base.html' %}
{% block content %}
<h1>Content Details</h1>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    {{cont.name}}
                </span>
                <p>
                    Description: {{cont.description}}
                </p>
                <br />
                <p>
                    Seasons: {{cont.seasons}}
                </p>
            </div>
            <div class="card-action">
                <a href="{% url 'content_update' cont.id %}">Edit</a>
                <a href="{% url 'content_delete' cont.id %}">Delete</a>
            </div>
        </div>
            {% for photo in cont.photo_set.all %}
            <img src="{{photo.url}}" class="responsive-img card-panel">
            {% comment %} <form action="{% url 'delete_photo' cont.id %}" enctype="multipart/form-data" method="post"> {% endcomment %}
                {% comment %} {% csrf_token %} {% endcomment %}
                {% comment %} <br><br> {% endcomment %}
                <input type="submit" class="btn" value="Delete Photo">
            {% comment %} </form> {% endcomment %}
            {% empty %}
            <div class="card-panel teal-text center-align">
                No Photos Uploaded
            </div>
            {% endfor %}
            <form action="{% url 'add_photo' cont.id %}" enctype="multipart/form-data" method="post" class="card-panel">
                {% csrf_token %}
                <input type="file" name="photo-file">
                <br><br>
                <input type="submit" class="btn" value="Upload Photo" name="photo-file">
            </form>
    </div>
    <div class="col s6">
        <form action="{% url 'add_entry' cont.id %}" method="post">
            {% csrf_token %}{{ entry_form.as_p }}
            <input type="submit" class="btn" value="Add Entry" />
        </form>
        <br />
        {% if cont.entry_for_today %}
        <div class="card-panel teal-text center-align">
            {{cont.name}} DAMN YOURE BINGING TODAY!!
        </div>
        {% else %}
        <div class="card-panel red-text center-align">
            Bored? Let's watch some episodes!!
        </div>
        {% endif %}
        <table class="striped">
            {% if cont.entry_set.all %}
                <thead>
                    <th>Date</th>
                    <th>Season</th>
                    <th>Episode</th>
                </thead>
                <tbody>
                    {% for entry in cont.entry_set.all %}
                        <tr>
                            <td>{{entry.date}}</td>
                            <td>{{entry.season}}</td>
                            <td>{{entry.episode}}
                            <div class="card-action">
                            </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endif %}
        </table>
        <div class="card-action">
            <form action="{% url 'delete_all_entry' cont.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn">Remove All Entries</button>
            </form>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col s6">
        <h3>
            {{ cont.name }}'s Streaming Platforms
        </h3>
        {% if cont.platform.count %}
            {% for plat in cont.platform.all %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        <span>{{ plat.name }}</span>
                    </span>
                </div>
                <div class="card-action">
                    <form action="{% url 'unassoc_platform' cont.id plat.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn">Remove</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h5>No Platforms :(</h5>
        {% endif %}
    </div>
    <div class="col s6">
        <h3>Avaliable Platforms</h3>
        {% if platforms.count %}
            {% for plat in platforms.all %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            A <span>{{ plat.name }}</span>
                        </span>
                    </div>
                    <div class="card-action">
                        <form action="{% url 'assoc_platform' cont.id plat.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn">Add</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h5>{{cont.name}} Already Has All Platforms Avaliable</h5>
        {% endif %}
    </div>
</div>
<script>
    const dateEl = document.getElementById("id_date");
    M.Datepicker.init(dateEl, {
        format: "yyyy-mm-dd",
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true,
    });

</script>
{% endblock %}