{% extends 'base.html' %}
{% block content %}
<h1>Welcome to my Tracker App!!</h1>
<div class="divider black">
    <h3>DO YOU LOVE BINGE WATCHING TV SHOWS?</h3>
</div>
<h4>Have you ever stopped watching a TV Show because you forgot where you left off?</h4>
<h4>If so then join the Tracker community!!</h4>
<h4>The Tracker App lets you log:</h4>
<ul class="home_list">
    <br>
    <li>Your current Tv Shows!</li>
    <br>
    <li>The streaming platform you're watching it on!</li>
    <br>
    <li>The episodes you watch with a brief description!</li>
</ul>
<h2>HURRY UP AND LOGIN / SIGNUP!!</h2>
<h6>top left hand side of the corner</h6>
{% endblock %}